<nav class="navbar navbar-expand-md navbar-light bg-light mt-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="img/chatting.png" alt="" height="75">
                Guide-me
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Carreras
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/publicaciones?id=1">Comercio internacional</a></li>
                            <li><a class="dropdown-item" href="/publicaciones?id=2">Gesti贸n areoportuaria</a></li>
                            <li><a class="dropdown-item" href="/publicaciones?id=3">Logistica</a></li>
                            <li><a class="dropdown-item" href="/publicaciones?id=4">Turismo</a></li>
                            <li><a class="dropdown-item" href="/publicaciones?id=5">Desarrollo de software</a></li>
                            <li><a class="dropdown-item" href="/publicaciones?id=6">Higiene y Seguridad</a></li>
                        </ul>
                    </li>
                    
                    <% if(locals.userLogged){%>
                        <% if(locals.userLogged[0].ID_ROL==2){%>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/crearpublicacion">Crear publicacion</a>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
                <% if(!locals.userLogged){%>
                <ul class="navbar-nav me-auto mb-2 offset-md-0    offset-lg-4 offset-xl-6">
                    <li class="navbar-nav mb-2 mb-lg-0 me-md-2 ">
                        <a class="nav-link active btn btn-primary btn-lg text-white" aria-current="page" href="/login"><i class="fa fb fa-sign-in" aria-hidden="true"></i> Iniciar Sesi贸n</a>
                    </li>
                        
                    <li class="navbar-nav mb-2 mb-lg-0">
                        <a class="nav-link active   btn btn-success btn-lg text-white" aria-current="page" href="/registrarse"><i class="fa fb fa-user-plus" aria-hidden="true"></i> Registrarse</a>
                    </li>
                </ul>
                <%}%>
                <!--Notificaciones-->
                <% if(locals.userLogged){%>
                <div class="dropdown">
                    <button class=" btn text-reset me-3 dropdown-toggle hidden-arrow " href="#" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                        <span class="badge badge-notification bg-danger">1</span>
                    </button>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">A sebastian Lopez le gusta tu comentario</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Cristian Lopez subio una nueva publicaci贸n</a>
                        </li>
                    </ul>
                    <a class="dropdown-toggle  align-items-center hidden-arrow" href="#"
                            id="navbarDropdownMenuAvatar" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="uploads/<%= locals.userLogged[0].FOTO%>" class="rounded-circle"
                            height="25" alt="Black and White Portrait of a Man" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAvatar">
                            <li>
                                <a class="dropdown-item" href="/miperfil">Mi Perfil</a>
                            </li>
                        <%if(locals.userLogged[0].ID_ROL==2){%>
                            <li>
                                <a class="dropdown-item" href="/mispublicaciones">Mis publicaciones</a>
                            </li>
                         <%}%>   
                            <li>
                                <a class="dropdown-item" href="/logout">Cerrar sesi贸n</a>
                            </li>
                        </ul>
                </div>
                <%}%>
            </div>
        </div>
        </nav>