<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <div class="container">
        <%- include('partials/navbar') %>
        <div class="card text-center mt-4 shadow mb-3">
            <div class="card-header">
                <div class="col-md-4 col-xs-12 offset-md-4">
                    <img src="img/garrido.jfif" alt="" class="rounded ms-5" height="100px">
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12 offset-md-4">
                        <p class="h4">Nicolas garrido </p>
                    </div>
                    <div class="col-md-1 ">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <p class="h4">Ingeniero de software en Engee It </p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7 offset-md-3">
                        <p class="">Hola, ¿cómo están? soy Nicolas Garrido trabajo como ingeniero de software en la
                            empresa Engee It .
                            quería

                            contarles mi experiencia trabajando como ingeniero de software que puede interesarles mucho
                            a los

                            estudiantes de la Carrera "tecnicatura en software" de la upe

                            . Trabajo hace 10 años en una empresa dedicada

                            a Desarrollo de software,

                            principalmente me encargo de dirigir los proyectos de software nuevos o de mantenimiento,
                            también tengo la

                            tarea

                            de analizar nuevas técnicas para desarrollar, optimizar los procesos y principalmente lidar
                            equipos de

                            trabajo.

                            Por medio de todas estas actividades tengo que asegurarme de cumplir el 100% de los
                            objetivos de cada

                            proyecto, que el software

                            tenga muy buena usabilidad, que sea seguro, flexible y portable.

                            Si quieren saber algo en especifico no duden en preguntarme en los comentarios con gusto
                            estaré

                            respondiendo

                            Un saludo!
                        </p>
                    </div>
                </div>
            </div>
            <!--fin cardBody-->
            <div class="card-footer">
                <div class="row ">
                    <div class="col-12 ">
                        <button class="btn btn-primary">Publicar</button>
                        <a class="btn btn-warning" href="/editarpublicacion">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>