<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>
    <div class="container">
        <%- include('partials/navbar'); %>
        <div class="row mt-4">
            <div class="col-md-5 offset-md-4">
                <a href=""><img src="img/<%= carrera%>.jpg" class="rounded" width="90%" height="80" alt=""></a>
            </div>
        </div>
        <%- include('partials/tarjeta'); %>
    </div>
    <script src="js/index.js"></script>
</body>
</html>